<h2><%= I18n.t('devise.registrations.edit.edit') %><%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="padding-right: 10px;">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: I18n.t('devise.registrations.edit.blank'),
                required: false,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.new_pass') } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.new_pass') } %>
    <%= f.input :current_password,
                hint: I18n.t('devise.registrations.edit.current'),
                required: true,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.current_pass') } %>
    <%= f.input :username,
                required: false,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.username') }%>
    <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.first_name') }%>
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.last_name') }%>
    <%= f.input :age, collection: 18..80 ,
                required: true,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.age') }%>
    <%= f.input :telephone,
                required: true,
                input_html: { autocomplete: I18n.t('devise.registrations.edit.telephone') }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, I18n.t('devise.registrations.edit.update') %>
  </div>
<% end %>

<h3><%= I18n.t('devise.registrations.edit.cancel')%></h3>

<p><%= I18n.t('devise.registrations.edit.unhappy')%><%= link_to I18n.t('devise.registrations.edit.cancel'), registration_path(resource_name), data: { confirm: I18n.t('devise.registrations.edit.sure') }, method: :delete %></p>

<%= link_to I18n.t('devise.registrations.edit.back'), :back %>
