<div id="titleA">
  <%= I18n.t('home.aboutUs.title') %>
</div>
<div class="location">
  <%= I18n.t('home.aboutUs.location') %>
</div>
<div class="map">
  <%= image_tag("map.jpg", :alt => "map", :class => "map") %>
</div>
<div class="par">
  <%= t('home.home.description1')%>
  <br>
  <%= t('home.home.description2')%>
</div>
