<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table id="cars">
      <center>
      <tr>
        <th>
          <h3>Car Models</h3>

        </th>
        <th>
          <h3>Details</h3>
        </th>
      </tr>
      <tr>
        <td>
            <%= image_tag("suzuki.jpg", :alt => "suzuki", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>

              <li>Model:</li>
              <li>Engine:</li>
              <li>Seats</li>
              <li>Transmission:</li>
              <li></li>
            </ul>
          </p>
        </td>
      </tr>
        <td>
            <%= image_tag("isuzu.jpg", :alt => "isuzu", :class => "carPic") %>
        </td>
        <td>isuzu</td>
      <tr>
        <td>
            <%= image_tag("honda.jpg", :alt => "honda", :class => "carPic") %>
        </td>
        <td>HONDA</td>
      </tr>
      <tr>
        <td>
            <%= image_tag("mazda.jpg", :alt => "mazda", :class => "carPic") %>
        </td>
        <td>mazda</td>
      </tr>
      <tr>
        <td>
            <%= image_tag("peugeot.jpg", :alt => "peugeot", :class => "carPic") %>
        </td>
        <td>mazda</td>
      </tr>
      <tr>
        <td>
            <%= image_tag("mercedes.jpg", :alt => "mercedes", :class => "carPic") %>
        </td>
        <td>mazda</td>
      </tr>
      </center>
    </table>
  </body>
</html>
