<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <table id="cars">
      <center>
      <tr>
        <th>
          <h3><%= I18n.t('home.carRates.models')%></h3>
        </th>
        <th>
          <h3><%= I18n.t('home.carRates.details')%></h3>
        </th>
      </tr>
      <tr>
        <td>
            <%= image_tag("honda.jpg", :alt => "honda", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.honda.model')%></li>
              <li><%= I18n.t('home.honda.engine')%></li>
              <li><%= I18n.t('home.honda.seats')%></li>
              <li><%= I18n.t('home.honda.transmission')%></li>
              <li><%= I18n.t('home.honda.ac')%></li>
              <li><%= I18n.t('home.honda.priceDay')%></li>
              <li><%= I18n.t('home.honda.priceWeek')%></li>
            </ul>
           </p>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag("mazda.jpg", :alt => "mazda", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.mazda.model')%></li>
              <li><%= I18n.t('home.mazda.engine')%></li>
              <li><%= I18n.t('home.mazda.seats')%></li>
              <li><%= I18n.t('home.mazda.transmission')%></li>
              <li><%= I18n.t('home.mazda.ac')%></li>
              <li><%= I18n.t('home.mazda.priceDay')%></li>
              <li><%= I18n.t('home.mazda.priceWeek')%></li>
            </ul>
           </p>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag("peugeot.jpg", :alt => "peugeot", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.peugeot.model')%></li>
              <li><%= I18n.t('home.peugeot.engine')%></li>
              <li><%= I18n.t('home.peugeot.seats')%></li>
              <li><%= I18n.t('home.peugeot.transmission')%></li>
              <li><%= I18n.t('home.peugeot.ac')%></li>
              <li><%= I18n.t('home.peugeot.priceDay')%></li>
              <li><%= I18n.t('home.peugeot.priceWeek')%></li>
            </ul>
           </p>
        </td>
      </tr>
      <tr>
        <td>
            <%= image_tag("suzuki.jpg", :alt => "suzuki", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.suzuki.model')%></li>
              <li><%= I18n.t('home.suzuki.engine')%></li>
              <li><%= I18n.t('home.suzuki.seats')%></li>
              <li><%= I18n.t('home.suzuki.transmission')%></li>
              <li><%= I18n.t('home.suzuki.ac')%></li>
              <li><%= I18n.t('home.suzuki.priceDay')%></li>
              <li><%= I18n.t('home.suzuki.priceWeek')%></li>
            </ul>
          </p>
        </td>
      </tr>
        <td>
            <%= image_tag("isuzu.jpg", :alt => "isuzu", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.isuzu.model')%></li>
              <li><%= I18n.t('home.isuzu.engine')%></li>
              <li><%= I18n.t('home.isuzu.seats')%></li>
              <li><%= I18n.t('home.isuzu.transmission')%></li>
              <li><%= I18n.t('home.isuzu.ac')%></li>
              <li><%= I18n.t('home.isuzu.priceDay')%></li>
              <li><%= I18n.t('home.isuzu.priceWeek')%></li>
            </ul>
           </p>
         </td>
      <tr>
        <td>
            <%= image_tag("mercedes.jpg", :alt => "mercedes", :class => "carPic") %>
        </td>
        <td>
          <p>
            <ul>
              <li><%= I18n.t('home.mercedes.model')%></li>
              <li><%= I18n.t('home.mercedes.engine')%></li>
              <li><%= I18n.t('home.mercedes.seats')%></li>
              <li><%= I18n.t('home.mercedes.transmission')%></li>
              <li><%= I18n.t('home.mercedes.ac')%></li>
              <li><%= I18n.t('home.mercedes.priceDay')%></li>
              <li><%= I18n.t('home.mercedes.priceWeek')%></li>
            </ul>
           </p>
        </td>
      </tr>
      </center>
    </table>
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-header {
      padding: 2px 16px;
      background-color: #1abc9c;
      color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
      padding: 2px 16px;
      background-color: #1abc9c;
      color: white;
    }
    button {
    background-color: #1abc9c;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%

    }
    </style>

  <button id="myBtn">MORE INFORMATION ABOUT RENTAL</button>

  <div id="myModal" class="modal">

    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>More Information</h2>
      </div>
      <div class="modal-body">
        <p>To Rent:</p>
        <ol>
          <li>Choose Car</li>
          <li>Sign Up in the website</li>
          <li>Go to 'Rent' link</li>
          <li>Enter your details</li>
          <li>We will deliver the car at your address on the agreed date and time</li>
          <li>The payment will be made when you are given the car</li>
        </ol>

      </div>
      <div class="modal-footer">
        <h3>CRentals</h3>
      </div>
    </div>
  </div>
      <script>
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("myBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
          modal.style.display = "block";
        }

        span.onclick = function() {
          modal.style.display = "none";
        }

        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      </script>
  </body>
</html>
