<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div id="list1">
      <ul id="leftList">
        <li><%= t('home.home.list1')%></li>
        <br>
        <li><%= t('home.home.list2')%></li>
        <br>
        <li><%= t('home.home.list3')%></li>
        <br>
        <li><%= t('home.home.list4')%></li>
      </ul>
      <ul id="rightList">
        <li><%= t('home.home.list5')%></li>
        <br>
        <li><%= t('home.home.list6')%></li>
        <br>
        <li><%= t('home.home.list7')%></li>
        <br>
        <li><%= t('home.home.list8')%></li>
      </ul>
    </div>
    <span class="images">
      <%= image_tag("suzuki.jpg", :alt => "suzuki", :class => "suzuki") %>
      <%= image_tag("stars.jpg", :alt => "stars", :class => "stars") %>
    </span>
    <div id="about">
      <br>
      <%= t('home.home.description1')%>
      <br>
      <%= t('home.home.description2')%>
      <br>
    </div>
  </body>
</html>
