<%# frozen_string_literal: true %>
<%= simple_form_for(@rental) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :user, selected: current_user.username, input_html: { class: "form-control", id: "chosen-select-speciality"}, disabled: @rental.user_id%>
    <%= 'Select Car : ' %>
    <%= f.association :car, collection: Car.all.map { |car| [car.model, car.id]} , class: 'car'%>
    <div class="dateTime">
      <%= f.input :start, as: :datetime, start_year: Date.today.year, end_year: Date.today.year + 2, order: [:day, :month, :year] %>
      <%= f.input :end, as: :datetime, start_year: Date.today.year, end_year: Date.today.year + 2, order: [:day, :month, :year]%>
    </div>
    <div class="address">
      <%= f.input :address %>
    </div>
    <%= f.input :comments %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
