<h1>Listing rentals</h1>
<table class="dataTable">
  <thead>
    <tr>
      <th><%=I18n.t('views.indexRentals.user')%></th>
      <th><%=I18n.t('views.indexRentals.car')%></th>
      <th><%=I18n.t('views.indexRentals.start')%></th>
      <th><%=I18n.t('views.indexRentals.end')%></th>
      <th><%=I18n.t('views.indexRentals.address')%></th>
      <th><%=I18n.t('views.indexRentals.comments')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if user_signed_in? %>
    <% @rentals.each do |rental| %>
      <tr>
        <td>
          <%= rental.user.username %>
        </td>
        <td>
          <%= rental.car.model %>
        </td>
        <td>
          <%= rental.start %>
        </td>
        <td>
          <%= rental.end %>
        </td>
        <td>
          <%= rental.address %>
        </td>
        <td>
          <%= rental.comments %>
        </td>
        <td>
          <%= link_to I18n.t('views.indexRentals.linkShow'), rental %>
        </td>
        <td>
          <%= link_to I18n.t('views.indexRentals.linkEdit'), edit_rental_path(rental) %>
        </td>
        <td>
          <% if current_user.admin %>
          <%= link_to I18n.t('views.indexRentals.linkDestroy'), rental, method: :delete, data: { confirm: I18n.t('views.indexRentals.destroyConfirm') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>
<%= link_to I18n.t('views.indexRentals.linkNew'), new_rental_path %>
