<h1>Listing rentals</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Car</th>
      <th>Start</th>
      <th>End</th>
      <th>Address</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% if user_signed_in? %>
    <% @rentals.each do |rental| %>
      <tr>
        <td>
          <%= rental.user.username %>
        </td>
        <td>
          <%= rental.car.model %>
        </td>
        <td>
          <%= rental.start %>
        </td>
        <td>
          <%= rental.end %>
        </td>
        <td>
          <%= rental.address %>
        </td>
        <td>
          <%= rental.comments %>
        </td>
        <td>
          <%= link_to 'Show', rental %>
        </td>
        <td>
          <%= link_to 'Edit', edit_rental_path(rental) %>
        </td>
        <td>
          <%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>

    <% end %>
    <%= link_to 'New Rental', new_rental_path %>
  </tbody>
</table>
<br/>
<% end %>
