
%p
  %b User:
  = @rental.user.username
%p
  %b Car:
  = @rental.car.model
%p
  %b Start:
  = @rental.start
%p
  %b End:
  = @rental.end
%p
  %b Address:
  = @rental.address
%p
  %b Comments:
  = @rental.comments

= link_to 'Edit', edit_rental_path(@rental)
\|
= link_to 'Back', rentals_path
