<p>
  <%= "Dear #{t('app_title')}," %>
</p>
<p>
  <%= I18n.t('mailer.contact.message') %>
</p>
<dl></dl>
<dt><%= I18n.t('mailer.contact.name') %></dt>
<dd>
  <%= @name %>
</dd>
<dt><%= I18n.t('mailer.contact.email') %></dt>
<dd>
  <%= @email %>
</dd>
<dt><%= I18n.t('mailer.contact.tel') %></dt>
<dd>
  <%= @telephone %>
</dd>
<p>
  <%= @message %>
</p>
<p><%= I18n.t('mailer.contact.thanks') %></p>
<p>
  <%= @name %>
</p>
