-# frozen_string_literal: true
= simple_form_for(@car) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :model
    = f.input :engine
    = f.input :seats, collection: 1..10
    = f.select :transmission, ['Automatic', 'Manual']
    = f.input :ac
    = f.input :priceDay
    = f.input :priceWeek

  .form-actions
    = f.button :submit
