<% # frozen_string_literal: true %>
<%= simple_form_for(@car) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs" style="padding-right: 10px;">
    <%= f.input :model, uniqueness: true %>
    <%= f.input :engine %>
    <%= f.input :seats, collection: 1..10 %>
    <%= f.select :transmission, [I18n.t('form.cars.auto'), I18n.t('form.cars.manual')] %>
    <%= f.input :ac,
                :as => :select,
                :collection => [['Yes',true], ['No',false]],
                :include_blank => false,
                :label => I18n.t('form.cars.ac') %>
    <%= f.input :priceDay %>
    <%= f.input :priceWeek %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
