%h1 Listing cars

%table
  %thead
    %tr
      %th Model
      %th Engine
      %th Seats
      %th Transmission
      %th Ac
      %th Priceday
      %th Priceweek
      %th
      %th
      %th

  %tbody
    - @cars.each do |car|
      %tr
        %td= car.model
        %td= car.engine
        %td= car.seats
        %td= car.transmission
        %td= car.ac
        %td= car.priceDay
        %td= car.priceWeek
        %td= link_to 'Show', car
        %td= link_to 'Edit', edit_car_path(car)
        %td= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Car', new_car_path
