<h1>Listing cars</h1>
<table>
  <thead>
    <tr>
      <th><%=I18n.t('views.indexCars.model')%></th>
      <th><%=I18n.t('views.indexCars.engine')%></th>
      <th><%=I18n.t('views.indexCars.seats')%></th>
      <th><%=I18n.t('views.indexCars.transmission')%></th>
      <th><%=I18n.t('views.indexCars.ac')%></th>
      <th><%=I18n.t('views.indexCars.priceDay')%></th>
      <th><%=I18n.t('views.indexCars.priceWeek')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% if current_user.admin? %>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td>
          <%= car.model %>
        </td>
        <td>
          <%= car.engine %>
        </td>
        <td>
          <%= car.seats %>
        </td>
        <td>
          <%= car.transmission %>
        </td>
        <td>
          <%= car.ac %>
        </td>
        <td>
          <%= car.priceDay %>
        </td>
        <td>
          <%= car.priceWeek %>
        </td>
        <td>
          <%= link_to I18n.t('views.indexCars.linkShow'), car %>
        </td>
        <td>
          <%= link_to I18n.t('views.indexCars.linkEdit'), edit_car_path(car) %>
        </td>
        <td>
          <%= link_to I18n.t('views.indexCars.linkDestroy'), car, method: :delete, data: { confirm: I18n.t('views.indexCars.destroyConfirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>
<%= link_to I18n.t('views.indexCars.linkNew'), new_car_path %>
