
%p
  %b Model:
  = @car.model
%p
  %b Engine:
  = @car.engine
%p
  %b Seats:
  = @car.seats
%p
  %b Transmission:
  = @car.transmission
%p
  %b Ac:
  = @car.ac
%p
  %b Priceday:
  = @car.priceDay
%p
  %b Priceweek:
  = @car.priceWeek

= link_to 'Edit', edit_car_path(@car)
\|
= link_to 'Back', cars_path
