<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= I18n.t('devise.mailer.email_changed.changing')%><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= I18n.t('devise.mailer.email_changed.changed')%><%= @resource.email %>.</p>
<% end %>
