<p>Hello <%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.reset_pass_instructions.request_link')%></p>

<p><%= link_to I18n.t('devise.mailer.reset_pass_instructions.change') , edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.mailer.reset_pass_instructions.ignore')%></p>
<p><%= I18n.t('devise.mailer.reset_pass_instructions.access_link')%></p>
