<p><%= I18n.t('devise.mailer.unlock.hello')%> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.unlock.locked')%></p>

<p><%= I18n.t('devise.mailer.unlock.link')%></p>

<p><%= link_to I18n.t('devise.mailer.unlock.unlock'), unlock_url(@resource, unlock_token: @token) %></p>
