<!DOCTYPE html>
<html>
  <head>
    <title>CRentals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id="homeHeader">
    CRentals Car Hire
    <button onclick="location.href='http://localhost:3000/quote'" type="button" id="headerButton">Get a quick quote</button>
    <ul id="headerList">
      <li>Guildford, UK</li>
      <li>+44 7517292860</li>
    </ul>
    </header>

    <nav id="homeNav">
      <a href="http://localhost:3000/">Home</a> |
      <a href="http://localhost:3000/book">Car Rates</a> |
      <a href="http://localhost:3000/contact">Contact Us</a> |
      <a href="http://localhost:3000/aboutUs">About Us</a> |
    </nav>

    <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
    <% end %>
    <%= yield %>
    <footer id="homeFooter">
      <p id="footer1">Implemented by Constantinos Makris                  ©2019</p>
      <p id="footer2">cm01428@surrey.ac.uk</p>
    </footer>
  </body>

</html>
